* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: royalblue;
}

div {
  text-align: center;
  margin: 20px 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

label {
  color: royalblue;
  font-size: 20px;
  font-weight: bold;
}
input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid royalblue;
  outline: none;
  width: 400px;
}

button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid royalblue;
  outline: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

p {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  color: darkblue;
}
a {
  text-decoration: none;
  color: royalblue;
  font-size: 20px;
  cursor: pointer;
}
